@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

.swiper-pagination-bullet {
  height: 16px !important;
  width: 16px !important;
  border-radius: 100% !important;
  border: 2px solid white !important;
  border-color: white !important;
  background-color: transparent !important;
  opacity: 1 !important;
  scale: 1.4;
  margin-bottom: 16px !important;
}

.swiper-pagination-bullet-active {
  background-color: #da251d !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 100% !important;
  border: 0px !important;
  scale: 1;
  /* margin-bottom: 11px !important;  */
}

.carSlider .swiper-slide img {
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transition-duration: 0.5s;
}

.carSlider .swiper-slide-active img {
  transition-duration: 1s;
  transform: scale(1);
}

.carSlider .swiper-wrapper {
  transition-duration: 0.8s ease !important;
}



/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  /* background: var(--primary); Adjust background color */
  border-radius: 1px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  /* border-radius: 100%; */
  border: 2px solid var(--primary);
}

:root {
  --primary: rgba(255, 255, 255, 0.8); /* Adjust alpha channel to control transparency */
  --secondary: rgb(218, 37, 29);
}

/* *::-webkit-scrollbar:hover {
  background-color: rgb(255, 255, 255);
  width: 8px;
}

/* Change secondary color to gray on hover 
*::-webkit-scrollbar-thumb:hover {
  width: 8px;
} */
